<div class="container">
	<h1>Request Header Parser Microservice</h1>

	<p>Get the IP address, language and operating system of your browser at:</p>
	<p><a href="https://harryteo-header-parser-ms.herokuapp.com/api/whoami">https://harryteo-header-parser-ms.herokuapp.com/api/whoami</a></p>

	<h3>Example output:</h3>
	<code>{"ipaddress":"x.x.x.x","language":"en-GB","software":"Windows NT 10.0; WOW64"}</code>
</div>